.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.tags {
  display: inline-block;
  font-size: 0.9rem;
  height: 53px;
  line-height: 53px;
  background-color: $color-3;
  border-radius: 11px;
  padding: 0 18px;

  &_cross {
    float: right;
    padding-top: 19px;
    margin-left: 22px;
    cursor: pointer;
  }
}

@media screen and (max-width: 800px) {
  .tags {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
  }
  .tags_cross {
    padding-top: 12px;
    margin-left: 10px;
  }
}
